.card{
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}

.cardImage{
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.cardBody {
    padding: 16px;
}

.cardTitle{
    margin: 0 0 10px;
    font-size: 1.4em;
    color: #333;
}

.genreList {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 8px
}

.genreItem{
background-color: #efefef;
padding: 5px 10px;
border-radius: 15px;
font-size: 0.9em;

}